.header {
    background-color: #6278F7;
}

.header img {
    max-width: 100%;
    margin: 0 auto;
}

@media (min-width: 635px) {
    .header {
        height: 250px;
        display: flex;
    }
    .header img {
        margin-bottom: 5px;
    }
}