.container {
    width: 100%;
    background-color: var(--black-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 18px;
    font-weight: 400;
    padding: 1rem;
    color: var(--white-color);
}

@media (min-width: 720px) {
    .container {
        margin-top: 30px;
    }
}