iframe {
    width: 342px;
    height: 290px;
    margin: 50px auto;
}

@media (min-width: 720px) {
    iframe {
        width: 670px;
        height: 382px;
        margin: 80px auto;
    }
}

@media (min-width: 1280px) {
    iframe {
        width: 870px;
        height: 482px;
        margin: 20px auto;
    }
}